# Bed configuration snippet
# Author: Longo Alex
#
# Overview: Configuration snippet for the heated bed. Defines the bed heater and
# associated thermistor.
#
# Usage:
#   Include `Bed.cfg` from the `snippets` directory to configure the `[heater_bed]`
#   section of your printer.
#
# Parameters:
# - `heater_pin` – MOSFET or SSR pin controlling the bed heater.
# - `sensor_type` and `sensor_pin` – Thermistor configuration.
# - `max_power` – Limits heater power to avoid bed warping.
# - PID tuning values `pid_kp`, `pid_ki` and `pid_kd`.
#
# Example:
#   [include printer_data/snippets/Bed.cfg]

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


