[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[exclude_object]

[display_status]

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/config/temps/variables.cfg

[mcu]
canbus_uuid: 818199a1614f 
##--------------------------------------------------------------------
[mcu EBBCan]
canbus_uuid: b482d9612f9c

[printer]
kinematics: corexy
max_velocity: 500	
max_accel: 10000             
max_z_velocity: 18          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 100
square_corner_velocity: 3.5

[gcode_arcs]
resolution: 0.1

##XY AXIS SETTINGS 
[include ./snippets/Gantry.cfg]

##Z AXIS SETTINGS
[include ./snippets/Z.cfg]

##TOOLHEAD
[include ./snippets/Toolhead.cfg]

## BED
[include ./snippets/Bed.cfg] 

## FAN AND TEMPERATURE
[include ./snippets/FanANDSensor.cfg]

## ROUTINES(LEVELING, Z_homing, BED_MESHING)
[include ./snippets/Routines.cfg];

## MACRO
[include timelapse.cfg]
[include mainsail.cfg]
[include ./config/Mainsail_Settings.cfg]
[include ./snippets/Macro.cfg]
[include ./addon_MACRO/utils.cfg]
[include ./addon_MACRO/clean_nozzle.cfg]
[include ./addon_MACRO/pa_cal.cfg]

## INTERFACES
[include ./Graphics/PrintStartPanel.cfg]

[idle_timeout]
timeout: 600
gcode:
    TURN_OFF_HEATERS
    M84

#####################################
# Initial_setup_settings
#####################################
[probe]
#z_offset: 0

[input_shaper]
##  A frequency (in Hz) of the input shaper for X or Y axis. 
#shaper_freq_x: 61.4
#shaper_freq_y: 43.4
##  A type of the intput shaper for X or Y axia.
#shaper_type_x: mzv
#shaper_type_y: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 63.8
#*# shaper_type_y = zv
#*# shaper_freq_y = 49.0
#*#
#*# [probe]
#*# z_offset = -0.640
